@charset "UTF-8";

.btn{
	width: 70px;
	height: 20px;
	text-align: center;
	padding:0px;		
}
.btn a{
	display: block;
	width: 100%;
	padding: 4px;
	height: 20px;
	line-height: 20px;
	background: #27a;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.btn a:hover{
	background: #fff;
	color: #27a;
	border: 1px solid #27a;
}

div#wrap{
	width: 400px;
	margin: 30px auto;
}

table th, table td{
	padding: 3px;
}
table tbody td>input{
	width: 120px;
	border: 1px solid #27a;
	border-radius: 3px;
	padding: 4px;
}
.txt_r{ text-align: right; }
.phone{ width: 50px; }

.success{ color: #00f; font-weight: bold; font-size: 11px;}
.fail{ color: #f00; font-weight: bold; font-size: 11px; }

div#box{
	display: inline-block;
	width: 65px;
	height: 20px;
	padding: 0;
	margin: 0;
	margin-left: 3px;
}